<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Linktree</title>
      
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="./css/style.css">
        <script src="script.js"></script>
        <link rel="stylesheet" id="dm-fonts-css"
    href="https://fonts.googleapis.com/css?family=Work+Sans:300,500,700,800|Material+Icons" type="text/css"
    media="all">

    </head>
    <body>
        <nav>
            <div >
                <img class="logo" src="./logos/olive_tree.png" alt="logo"> 
            </div>
            <div >
                <img class="profile" src="<%= profile_img %>" alt="profile"> 
            </div>
            <div class="name">@<%= username %></div>
        </nav>
        <content>
            <div class="link"><img class="media facebook" src="./logos/facebook_logo.png" alt="facebook"></div>
            <div class="link"><img class="media instagram" src="./logos/Instagram_logo.png" alt="facebook"></div>
            <div class="link"><img class="media twitter" src="./logos/twitter_logo.png" alt="facebook"></div>
            <div class="link"><img class="media gmail" src="./logos/gmail_logo.png" alt="facebook"></div>
            <div class="link"><img class="media snapchat" src="./logos/snapchat_logo.png" alt="facebook"></div>
            <div class="link"><img class="media youtube" src="./logos/youtube_logo.png" alt="facebook"></div>
        </content>
    </body>
</html>