body{
    margin: 0;
    /* background: linear-gradient(#c3ece7, #e9a5bc); */
    background-color: rgb(114, 161, 231);
    background: linear-gradient(rgb(114, 161, 231), #c3ece7);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Work Sans";
    /* display: flex; */
}

nav{
    display: flex;
/* flex-basis: content; */

position: fixed;
padding: 0px 50px 0px 20px;
background-color: white;
/* background-image: linear-gradient(white 50%, #e2e0e0); */
box-shadow: 5px 1px 12px rgb(100, 99, 99);
/* border-bottom: solid white 3px; */
width: 100vw;
}

.logo{
    width: 120px;
    height: 100px;
    position: fixed;
    right: 20px;
    padding: 20px;
}

.profile{
    width: 7rem;
    padding: 1.2rem 2rem 1.2rem 0.2rem;
    
}
  
.name{
    /* text-align: left;
    width: 100%;
   margin: 50px auto 30px auto;
   font-size: 45px;
   color: white;
   font-family: "Segoe UI";
   text-shadow: 2px 2px 3px rgb(46, 45, 45), -1px -1px 1px lightgray; */
   font-size: 3.5rem;
   font-weight: 700;
   line-height: 2.7;
   color: #616160;
}

content{
    display: grid;
    /* grid-gap: 50px; */
    grid-template-columns: 1fr 1fr;
justify-content: center;
    width: 100vw;
    position: fixed;
    top: 170px;
    /* margin: 0 20px; */
}

.icons{
font-size: 100px;


}

.link{
    text-align: center;
    padding: 40px 20px;
    border: solid;
    border-radius: 20px;
    border-color: white;
    border-width: 10px;
    margin: 50px;
   
}

.media{
    width: 80%;
}


