body{
    margin: 0;
    /* background: linear-gradient(#c3ece7, #e9a5bc); */
    background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    height: 100vh;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    font-family: "Work Sans";
    /* display: flex; */
}

:root{
    --base-top: #72A1E7;
    --base-btm: #e0fbf8;
    --box-colour: rgb(233, 233, 233);
    --blue-btn: rgb(60, 168, 240);
}

.phone-container{
    position: relative;
    width: 370px;
    height: 620px;
    margin: auto;
    background: linear-gradient(var(--base-top), var(--base-btm));
    /* background-color: var(--base-top); */
    border: solid rgb(49, 49, 49);
    border-width: 15px 10px 50px 10px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgb(58, 58, 58), 0px 0px 5px  rgb(31, 31, 31);
}

nav{
    display: flex;
    
    position: absolute;
    padding: 0px 0px 0px 0px;
    background-color: white;
    margin: 0;
    box-shadow: 5px 1px 12px rgb(100, 99, 99);
    width: 370px;
    /* border-top-left-radius: 30px;
    border-top-right-radius: 30px; */
}

.logo{
    width: 60px;
    height: 50px;
    position: absolute;
    right: 0px;
    padding: 0.6rem;
    padding-bottom: 0.2rem;
    cursor: pointer;
}

.profile-background{
    width: 4rem;
    height: 4rem;
        background: #f09433; 
      background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
      background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
      border-radius: 50%;
      margin: 10px 10px;
}

.profile{
    /* width: 3rem; */
    /* width: auto;
    padding: 0.9rem 0.5rem 0.2rem 0.5rem; */
    display: inline;
  margin: 0 auto;
  margin-left: 0%; 
  height: 100%;
  width: auto;
  cursor: pointer;
  
}

.image-cropper {
    width: 3.3rem;
    height: 3.3rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px 10px;
    /* border: solid 0px rgba(93, 93, 93, 0.767); */
}

.close-panel{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    cursor: alias;
    z-index: 3;
    background-color: rgba(128, 128, 128, 0.513);
}

.profile-modal{
    position: absolute;
    top: -20px;
    left: 55%;
    transform: translateX(-50%);
    display: flex;
    /* flex-direction: column; */
    background-color: white;
    z-index: 4;
    border: solid 1px rgba(128, 128, 128, 0.733);
    border-radius: 5px;
    visibility: hidden;
    align-items: center;
}

.social-btns{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.username-input{
    height: 25px;
    margin: 5px;
    margin-left: 7px;
    
}

#or{
    margin: 0;
    padding-left: 35px;
    font-size: 0.8rem;
    color: rgb(110, 110, 110);
}

.profile-modal .twitterM, .profile-modal .instagramM {
    
    padding: 5px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 3px 1px rgba(71, 71, 71, 0.767);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
}

.profile-modal .instagramM{
    background-color: #C13584;
    margin-bottom: 0;
}

.profile-modal .twitterM{
    background-color: #1DA1F2;
    margin-top: 0;
    padding-left: 15px;
}

.twitterM:hover, .instagramM:hover{
    transform: scale(1.05);
}

.image-cropper:hover{
    transform: Scale(1.1);
}

.checkmark {
    display: none;
    position: absolute;
    transform: translateY(-50%);
    right: 90px;
    top: 64%;
    width: 50px;
    height: 50px;
    
}
    .draw:after {
      animation-duration: 800ms;
      animation-timing-function: ease;
      animation-name: checkmark;
      transform: scaleX(-1) rotate(135deg);
    }
    
    .checkmark:after {
      opacity: 1;
      height: 25px;
      width: 12.5px;
      transform-origin: left top;
      border-right: 3px solid green;
      border-top: 3px solid green;
      content: '';
      left: 12.5px;
      top: 12.5px;
      position: absolute;
    }
  
  
  
.name{
   
   font-size: 1.5rem;
   font-weight: 700;
   line-height: 2.5;
   color: #555555;
   padding-top: 7px;
}

content{
    display: grid;
    padding: 0 10px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 350px;
    position: absolute;
    top: 80px;
    
}

.icons{
font-size: 100px;

}

.link{
    text-align: center;
    padding: 10px 10px;
    border: solid;
    border-radius: 20px;
    border-color: white;
    border-width: 4px;
    margin: 20px;
}

.media{
    width: 80%;
    cursor: pointer;
}

.title{
    text-align: center;
    font-family: "Work Sans";
    background-color: var(--box-colour);
    padding: 10px 0px;
    margin-bottom: 40px;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.876);
}

.top-dip{
    position: absolute;
    z-index: 2;
    transform: translateX(-50%);
    left: 50%;
    top: -10px;
    width: 50px;
    height: 30px;
    background-color: rgb(49, 49, 49);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 0 20px;
    
}

.camera{
    position: relative;
    /* transform: translateX(-50%); */
    /* top: 5px; */
    /* left: 50%; */
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(54, 54, 54);
    border: solid 2px rgb(88, 88, 88);
    
}

.home-button{
    position: absolute;
    width: 100px;
    height: 30px;
    bottom: -41px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(54, 54, 54);
    background: linear-gradient(rgb(47, 47, 47), #414141);
    border: solid 2px rgb(100, 100, 100);
    border-radius: 15px;
    color: white;
    text-align: center;
    /* padding-top: 5px; */
    font-size: large;
}

.phone-button{
    position: absolute;
    /* background-color: rgb(68, 68, 68); */
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 5px;
    height: 60px;
    left: -15px;
    box-shadow: 0px 0px 5px rgb(78, 78, 78);
    background: linear-gradient(rgb(70, 70, 70), #686868);
}

.volume-up{
    top: 110px;
}

.volume-down{
    top: 170px;
}

.power-button{
    top: 270px;
}

.arrow{
    width: 0;
    height: 0;
    position: absolute;
    left: -100px;
    
}

.arrow-up {
    
    border-bottom: 35px solid #569cbd;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    top: 35%;
  }

  .arrow-down {
    
    border-top: 35px solid #569cbd;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    top: 65%;
    background: linear-gradient(rgb(33, 70, 124), #e0fbf8);
}

.colours{
    position: absolute;
    left: -135px;
    display: flex;
    flex-direction: column;
    height: 60px;
    align-items: center;
    border-radius: 4px;
    background-color: var(--box-colour);
    padding: 10px;
    width: 80px;
    border: solid 1px rgb(167, 167, 167);
    
}

.top-colour{
    top: 15%;   
}

.bottom-colour{
    bottom: 10%; 

}

.colour-picker{
    height: 70px;
    margin: 5px 0;
    cursor: copy;
}

.colour-picker:hover{
    transform: scale(1.1);
}

.edit-buttons{
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 240px;
    justify-content: space-between;
    padding: 20px 20px;
}

.preview{
    background-color: var(--blue-btn);
    padding: 10px 20px;
    /* border: solid 1px grey; */
    border-radius: 1px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 3px 1px rgba(71, 71, 71, 0.767);
    cursor: pointer;
}

.preview:hover{
    transform: Scale(1.05);
}

.save{
    background-color: rgb(38, 209, 75);
    padding: 10px 30px;
    
    border-radius: 1px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 3px 1px rgba(71, 71, 71, 0.767);
}

.save:hover{
    transform: Scale(1.05);
    cursor: pointer;
}



@keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 12.5px;
      opacity: 1;
    }
    40% {
      height: 25px;
      width: 12.5px;
      opacity: 1;
    }
    100% {
      height: 25px;
      width: 12.5px;
      opacity: 1;
    }
  }

  @media only screen and (max-device-width: 480px){
    .phone-container{
        
        width: 90vw;
        margin-bottom: 80px;
        border-width: 15px 2.5vw 50px 2.5vw;
    }

    nav{
        width: 90vw;
    }

    .colours{
        left: -15px;
        z-index: 2;
        padding: 0;
    }

    .top-colour{
        top: 11%;   
    }
    
    .bottom-colour{
        bottom: 2.5%; 
        
    }

    .edit-buttons{
        position: fixed;
        display: flex;
        bottom: 0;
        background-color: rgba(233, 233, 233, 0.931);
        width: 100%;
        padding: 0px 0px;
        align-items: space-between;
        box-shadow: 0px -2px 3px rgba(78, 78, 78, 0.75);
        z-index: 3;
        /* margin: 0; */
    }

    .preview{
        margin-left: 15vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    .save{
        margin-right: 15vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    .title{
        position: sticky;
        top: 0;
        z-index: 3;
        background-color: rgba(233, 233, 233, 0.931);
        font-size: 1.2rem;
        
    }

    content{
        
        padding: 0 0;
        
        width: 90vw;
        
        top: 80px;
        
    }

    .link{
        margin: 4vw;
        padding: 2vw
    }

    .image-cropper{
        margin: 2vw;
        width: 2.8rem;
    height: 2.8rem;
    }

    .name{
   
        font-size: 6vw;
    }

    .logo{
        width: 2.8rem;
        height: 2.6rem;
        padding: 0.3rem;
    }
  }